.card{
    
    margin: 1rem auto;
    width: 20rem;
    align-content: center;
    line-height: 2.2rem;
   
}

.update-btn, .delete-btn{
    width: 100%;
    margin: 1rem;
    border:0.1rem solid black;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    text-decoration: none;
    &:hover{
        background-color: black;
        color: white;
    }
}