*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #ced8ff;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #ced8ff;
    

}

.toaster{
    background-color: rgb(89, 47, 255);

}